@model List<ASP.NET_MVC.Models.Boleta>

@{
    ViewBag.Title = "Listado de Ventas";
}

<div class="breadcrumb" style="margin-top:15px">
    <div class="row">
        <div class="col-sm-10">
            <h2>Listado de Ventas</h2>
        </div>
        <div class="col-sm-2 text-right">
            <a href="~/venta/neworder" class="btn btn-success">Registrar Venta</a>
        </div>
    </div>
</div>

<table id="orden" class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Boleta Nº</th>
            <th>Cliente</th>
            <th>Fecha de Venta</th>
            <th>Total Items</th>
            <th>Monto Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center"><i class="fa fa-chevron-right" id="@item.BoletaId"></i></td>
                <td class="boletaId">@item.BoletaId</td>
                <td>@item.Cliente</td>
                <td>@item.FechaVenta</td>
                <td>@item.CantidadItems</td>
                <td>@item.MontoTotal</td>
            </tr>
            <tr id="fila-@item.BoletaId" style="display:none"><td></td><td colspan="5">@Html.Action("_DetalleVenta", new { id = item.BoletaId})</td></tr>
        }
    </tbody>

</table>