@model ASP.NET_MVC.Models.MedicamentoOrder
@{
    ViewBag.Title = "Eliminar del Detalle";
}

<h2>Eliminar del Detalle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @if (ViewBag.MessageSuccess != null)
        {
            <div class="message-form">
                <div class="alert alert-success">
                    <h4>@ViewBag.MessageSuccess</h4>
                </div>
            </div>
        }
        @if (ViewBag.MessageError != null)
        {
            <div class="message-form">
                <div class="alert alert-danger">
                    <h4>@ViewBag.MessageError</h4>
                </div>
            </div>
        }

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.HiddenFor(model => model.MedicamentoId)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @disabled = "" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionEspecie, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DescripcionEspecie, new { @class = "form-control", @disabled = "" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionTipo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DescripcionTipo, new { @class = "form-control", @disabled = "" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cantidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", @disabled = "" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a href="~/venta/neworder" class="btn btn-info">Regresar</a>
            </div>
        </div>
    </div>
}