@model ASP.NET_MVC.Models.OrderView
@{
    ViewBag.Title = "Registrar Venta";
}

<h2>Registrar Venta</h2>

@using (Html.BeginForm("NewOrder", "Venta", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @if (ViewBag.MessageSuccess != null)
        {
            <div class="message-form">
                <div class="alert alert-success">
                    <h4>@ViewBag.MessageSuccess</h4>
                </div>
            </div>
        }
        @if (ViewBag.MessageError != null)
        {
            <div class="message-form">
                <div class="alert alert-danger">
                    <h4>@ViewBag.MessageError</h4>
                </div>
            </div>
        }

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Cliente, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cliente)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input type="submit" value="Registrar Venta" class="btn btn-success" />
                <a href="~/venta/addmedicamento" class="btn btn-primary">Seleccionar Medicamento</a>
            </div>
        </div>
    </div>
}

@if(Model != null){
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento.DescripcionTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento.DescripcionEspecie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento.SubTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.medicamentoOrder.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.medicamentoOrder[i].Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.medicamentoOrder[i].DescripcionTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.medicamentoOrder[i].DescripcionEspecie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.medicamentoOrder[i].Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.medicamentoOrder[i].Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.medicamentoOrder[i].SubTotal)
            </td>
            <td>
                <a href="~/venta/EditMedicamento/@Model.medicamentoOrder[i].MedicamentoId" class="btn btn-success fa fa-pencil" title="Editar"></a>
                <a href="~/venta/DeleteMedicamento/@Model.medicamentoOrder[i].MedicamentoId" class="btn btn-danger fa fa-trash" title="Eliminar"></a>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr><td class="bold">Monto Total</td><td colspan="5" class="text-right">@Html.DisplayFor(modelItem => Model.MontoTotal)</td><td></td></tr>
    </tfoot>
</table>   
}