@model ASP.NET_MVC.Models.Medicamento

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Medicamento", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Medicamento</h4>
        <hr />
        @if (ViewBag.MessageSuccess != null)
        {
            <div class="message-form">
                <div class="alert alert-success">
                    <h4>@ViewBag.MessageSuccess</h4>
                </div>
            </div>
        }
        @if (ViewBag.MessageError != null)
        {
            <div class="message-form">
                <div class="alert alert-danger">
                    <h4>@ViewBag.MessageError</h4>
                </div>
            </div>
        }

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EspecieId, "EspecieId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EspecieId", (IEnumerable<SelectListItem>)ViewBag.Especies, "Seleccione Especie", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EspecieId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoMedicamentoId, "TipoMedicamentoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoMedicamentoId", (IEnumerable<SelectListItem>)ViewBag.TipoMedicamentos, "Seleccione Tipo Medicamento", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoMedicamentoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LaboratorioId, "LaboratorioId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LaboratorioId", (IEnumerable<SelectListItem>)ViewBag.Laboratorios, "Seleccione Laboratorio", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LaboratorioId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio)
                @Html.ValidationMessageFor(model => model.Precio)
            </div>
        </div>
        @*
        <div class="form-group">
            @Html.LabelFor(model => model.Stock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock)
                @Html.ValidationMessageFor(model => model.Stock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado)
                @Html.ValidationMessageFor(model => model.Estado)
            </div>
        </div>
        *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
